<div class="international__typo__header__layout">
    <div class="international__typo__header__layout__left">
        <span class="international__typo__header__layout_subdomain">
            <a class="international__typo__header__home" href="/">blog.</a></span>
    </div>
    <div class="international__typo__header__layout__right">
        <span class="international__typo__header__layout__right__domain">cloud-eng</span>
        <span class="international__typo__header__layout__right__tld">.nl</span>
    <div>                        
</div>
<!-- <h1>{{ site.Title }}</h1> -->
<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
