body.dark-theme {
    --background-color: #232425;
    --text-color: #a9a9b3;
    --link-color: #3592da;
    --primary-color: #1da1f2;
    --card-color: #1b1c1d;
    --white-color: #a9a9b3;
    --border-color: #17354c;
    --disabled-text-color: #ced8de;
    --header-bg: #1b1c1d;
}