body.dark-theme {
    --background-color: #232425;
    --text-color: #a9a9b3;
    --link-color: #3592da;
    --primary-color: #1da1f2;
    --card-color: #1b1c1d;
    --white-color: #a9a9b3;
    --border-color: #17354c;
    --disabled-text-color: #ced8de;
    --header-bg: #1b1c1d;
}


.terminal {
    display: flex;
    margin-right: auto;
    margin-left: 10px;
    font-family: monospace;
    font-weight: bold;
    padding: 10px;
}

.terminal__user {
    margin-right: 5px;
}
ç
.terminal__prompt {
    margin-right: 5px;
}

.terminal__path {
    margin-right: 5px;
}

.terminal__cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

