:root {
    --background-color: #f3f8fb;
    --text-color: #111827;
    --link-color: #1167a9;
    --primary-color: #1da1f2;
    --card-color: #ffffff;
    --white-color: #ffffff;
    --border-color: #dfe2e5;
    --disabled-text-color: #647888;
    --inline-code-text: #e24cb2;
    --inline-code-bg: rgba(212, 53, 159, 0.1);
    --header-bg: #ffffff;
    --header-height: 3.4rem;
}

body.dark-theme {
    --background-color: #232425;
    --text-color: #a9a9b3;
    --link-color: #3592da;
    --primary-color: #1da1f2;
    --card-color: #1b1c1d;
    --white-color: #a9a9b3;
    --border-color: #17354c;
    --disabled-text-color: #ced8de;
    --header-bg: #1b1c1d;
}