:root {
    --background-color: #f3f8fb;
    --text-color: #111827;
    --link-color: #1167a9;
    --primary-color: #1da1f2;
    --card-color: #ffffff;
    --white-color: #ffffff;
    --border-color: #dfe2e5;
    --disabled-text-color: #647888;
    --inline-code-text: #e24cb2;
    --inline-code-bg: rgba(212, 53, 159, 0.1);
    --header-bg: #ffffff;
    --header-height: 3.4rem;
}

body.dark-theme {
    --background-color: #232425;
    --text-color: #a9a9b3;
    --link-color: #3592da;
    --primary-color: #1da1f2;
    --card-color: #1b1c1d;
    --white-color: #a9a9b3;
    --border-color: #17354c;
    --disabled-text-color: #ced8de;
    --header-bg: #1b1c1d;
}


.terminal {
    display: flex;
    margin-right: auto;
    margin-left: 10px;
    font-family: monospace;
    font-weight: bold;
    padding: 10px;
}

.terminal__link {
    color: var(--white-color);
    margin-right: auto;
}

.terminal__user {
    margin-right: 5px;
}
ç
.terminal__prompt {
    margin-right: 5px;
}

.terminal__path {
    margin-right: 5px;
}

.terminal__cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


