html {
  font-weight: $font-weight-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

p,
td,
th,
pre,
code,
samp,
kbd {
  font-weight: $font-weight-normal;
}

p {
  @extend .u-no-max-width;
}

code,
samp,
kbd {
  background-color: $color-light;
  box-shadow: 0 0 0 0.25rem $color-light;
}

.p-link--logo,
.title-logo {
  color: $color-dark !important;
  font-weight: $font-weight-bold;
  text-decoration: none !important;
}

.p-link--hashtag {
  color: $color-mid-dark !important;
  line-height: 30px;
}

.p-inline-list-icons--share-links .p-inline-list__item {
  display: inline-block;
  vertical-align: middle;
}

.p-article-pagination__link--no-title {
  &::before,
  &::after {
    top: 0.8rem !important;
  }
}

.u-sticky {
  position: sticky;
  top: 0;
}

.u-inline {
  display: inline;
}

.u-capitalized {
  text-transform: capitalize;
}

.u-unselectable {
  user-select: none;
}

.is-wrapper {
  padding: 0 !important;
}

.page-banner {
  background-color: $color-light;

  &__image {
    height: 300px;
    width: 300px;
  }
}

.posts {
  .row:first-child .col-12:first-child .p-card {
    margin-top: 1.5rem;
  }
}

.posts--snazzy {
  .row:first-child {
    .col-12:first-child .p-card {
      margin-top: 0;
    }

    .col-12:not(:first-child) .p-card {
      padding-top: 0 !important;
    }
  }

  .p-card {
    @extend %section-padding--default;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin: 0;
    overflow: visible;

    .p-heading--3 a {
      font-weight: $font-weight-bold;
      color: $color-dark;
    }
  }
}

// Instagram card styling
.card {
  @extend .p-card;

  .card-header {
    @extend .p-heading--3;
  }

  .card-body {
    padding-top: 0.5rem;
  }
}

@media (min-width: $breakpoint-medium) {
  .col--share-links {
    text-align: right;
  }
}
