<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☁️</text></svg>">
<meta content="index,follow" name="googlebot">
	<meta content="follow, all" name="Googlebot-Image">
	<meta content="follow, all" name="Scooter">
	<meta content="follow, all" name="msnbot">
	<meta content="follow, all" name="alexabot">
	<meta content="follow, all" name="Slurp">
	<meta content="follow, all" name="ZyBorg">
	<meta content="follow, all" name="Scooter">
	<meta content="true" name="MSSmartTagsPreventParsing">
	<meta content="ALL" name="SPIDERS">
	<meta content="ALL" name="WEBCRAWLERS">
	<meta
		content="aeiwi, alexa, alltheWeb, altavista, aol netfind, anzwers, canada, directhit, euroseek, excite, overture, go, google, hotbot. infomak, kanoodle, lycos, mastersite, national directory, northern light, searchit, simplesearch, Websmostlinked, webtop, what-u-seek, aol, yahoo, webcrawler, infoseek, excite, magellan, looksmart, bing, cnet, googlebot"
		name="search engines">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	{{ with .Site.Params.adsenseId }}
	<script data-ad-client="{{ . }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ end }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
